# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Ignore all content in these folders
results/*
data/*
VF/*

# But do not ignore the .gitkeep file itself
!results/.gitkeep
!data/.gitkeep
!VF/.gitkeep

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag
